.form {
	  display: flex;
      border: 2px dotted $color-secondary-light-2;
      padding:1rem;
      width: 40%;
      border-radius: 5px;
      @include respond(phone){
      	flex-direction: column;
      	border: none;
      	width: 100%;
      	padding:0;
      }
	&__item {
      
	}
	&__input {
		display: inline-block;
		outline: none;
		border:none;
		width: 75%;
		margin-right: 1rem;
		padding-left: 1rem;
		font-size: 2rem;
		 @include respond(phone){
	      	  width: 100%;
	      	  border: 2px dotted $color-secondary-light-2;
	      	  padding: 2rem;
	      	  margin-right:0;
	      	  margin-bottom: 1rem;
	        }
		&::-webkit-input-placeholder{
		font-size: 1.4rem;
	   }
	}	
}
